*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 100%;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border:1.5px solid white;
}

/* box 2 */



.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* box 3 */

.nav-search{
    width: 890px;

    display: flex;
    justify-content: space-evenly;
}

.nav-search:hover{
    border: 3px solid #febd69;
    border-radius: 6px;
}

.search-select{
    width: 50px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    font-size: 0.9rem;
    border: none;
}

.search-bar{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 8px;
}



.search-icon{
    width: 45px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    background-color: #febd69;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* box 4 */

.nav-sign > p > span{
    font-size: 0.8rem;
}

.nav-second{
    font-size: 0.9.2rem;
    font-weight: bold;
}

/* box5 */

.nav-return > p > span{
    font-size: 0.8rem;
}                

/* box 6 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}


/* panel css starts from here  */

.panel{
    height: 40px;
    background-color: #232f3e;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: 700;
    
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    padding: 5px;

}

.panel-ops{
    width: 88%;
}


/* hero section starts form here  */

.hero-section{
    height: 350px;
    background-image: url("hero_image.jpg");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    height: 40px;
    width: 90%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
    
}

.hero-msg a{
    color: #007185;
}

/* content strats from here  */
.content{
    padding: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(212, 223, 225);
}

.box{
    height: 370px;
    width: 23%;
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
.content-box > h2{
    margin-left: 13px;
}

.content-box > a{
    margin-left: 13px;
    text-decoration: none;
    color: #007185 ;
}
.content-box > img{
    height: 250px;
    width: 255px;
    margin: 15px ;
}

/* footer starts from the here  */

.sign-in{
    height: 190px;
    width: 100%;

}

.sign-form{
    height: 150px;
    width: 100%;
    border: 2px solid lightgray;
    margin-top: 36px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 5px;
}

.sign-form > .sumbit{
    height: 28px;
    width: 230px;
    background-color: #ffcf56;
    color: black;
    font-weight: 700;
    border: 2px solid #e6a400;
    border-radius: 4px;
    font-size: 0.7.5rem;
}

.sign-form > p > span {
    color: #007185;
}


/* footer panel starts from here  */

.footer-panel{
    height: 50px;
    background-color: #37475a;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel > a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}


/* footer panel content  */



.footer-panel-2{
    height: 350px;
    width: 100%;
    background-color: #232f3e;

    display: flex;
    justify-content:space-evenly ;
    
   

}
.footer-panel-2  > .panel-content-1 > p {
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 50px;
}

.footer-panel-2  > .panel-content-1 > a{
    display: block;
    color:whitesmoke;
    text-decoration: none;
    font-size: 15px;
    row-gap: 10px;
    margin-top: 6px;
}

/* footer logo  */

.footer-logo{
    height: 100px;
    background-color: #232f3e;
    border-top: 1px solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo > .logo{
    height: 70px;
    width: 120px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}



















